<div class="new_idea">
    <div class="row">
      <div class="large-5 columns">
          <%= form_for @idea do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </div>
          <div class="large-5 columns">
            <%= f.label :body %>
            <%= f.text_field :body %>
            </div>
            <div class="large-2 columns submit">
            <%= f.submit %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="ideas">
    <% @ideas.each do |idea| %>
      <%= render partial: "ideas/idea", locals: { idea: idea } %>
    <% end %>
  </div>

